.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.navbar > a {
    display: inline;
}
.logo {
    width: 15%;
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color:#025157;
    font-weight: 500;
}
.menu-item {
    display: inline;
    margin-right: 25px; 
    margin-left: 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}    
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.signnav {
    color: #67b54b;
}
.navbutton {
    color: #fff;
    background-color: #67b54b;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
main {
    margin-top: 200px;
    text-align: center;
}
h1 {
    color: #025157;
    text-align: center;
    font-family: "Orelega One", sans-serif;
    margin-bottom: 24px;
    font-size: 60px;
}
.publish > h3 {
    font-family: "Orelega One", sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    text-align: left;
}
h4 {
    color: #46484c;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
p.faded {
    color: #8b8b8bcc
}
.publish > p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}
p {
    color: #8b8b8bcc;
    text-align: center;
    margin-top: 15px;
}
.publish {
    display: block;
    flex: 1;
}
.publish > form {
    display: flex;
}
.signup-form > p {
    color: #8b8b8bcc;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}
.signup-form > div {
    display: flex;
    align-items: flex-start;
}
form.signup-form {
    font-size: 14px;
    display: block;
}
input {
    height: 55px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    padding-left: 10px;
}
button.try {
    color: #fff;
    background-color: #025157;
    text-align: center;
    height: 55px;
    margin-left: -10px;
    border: 1px solid #b6b6b6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    margin-top: 10px;
    vertical-align: middle;
    align-items: baseline;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.features {
    display: grid;
    height: 660px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.success-stories {
    background-color: #a1d683;
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-around;
}
.overview {
    padding-right: 100px;
    display: block;
}
.overview > h2 {
    color: #025157;
    font-family: "Orelega One", "sans-sefif";
    font-size: 51px;
    line-height: 61px;
    text-align: left;
}
.overview > p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}
.overview > button {
    display: flex;
    color: #fff;
    background-color: #025157;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    height: 45px;
    margin-left: 0;
    align-items: flex-start;
}
.brands {
    display: flex;
    align-items: flex-start;
}
.stories-carousel {
    background-color: #fffbf7;
    display: block;
    flex: 1;
    border-radius: 10px;
}
.card-media {
    position: relative;
}
.company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    padding: 25px;
    flex: 1;
}
.card-body > h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    text-align: left;
}
.card-body > h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
}
.results {
    display: flex;
    align-items: center;
}
.results > img {
    width: 26px;
    margin-right: 20px;
    vertical-align: middle;
}
.faded-left {
    color: #8b8b8bcc;
    text-align: left;
}
.card-footer {
    padding: 25px;
    margin-bottom: 20px;
}
.card-footer > button {
    display: block;
    color: #fff;
    background-color: #025157;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 20px;
    width: 100%;
    margin-left: 0;
}
figure {
    margin-top: 32px;
}
body {
    margin: 8px;
    background-color: #fffbf7;
    text-align: center;
    display: block;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}