.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
li {
    display: inline;
}
.logo {
    width: 15%;
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color:#025157;
    font-weight: 500;
}
.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}    
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.signnav {
    color: #67b54b;
}
.navbutton {
    color: #fff;
    background-color: #67b54b;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
main {
    margin-top: 200px;
    text-align: center;
}
h1 {
    color: #025157;
    text-align: center;
    font-family: "Orelega One", sans-serif;
    margin-bottom: 24px;
    font-size: 60px;
}
.publish h3 {
    font-family: "Orelega One", sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
h4 {
    color: #46484c;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
p.faded {
    color: #8b8b8bcc
}
.publish > p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
p {
    color: #8b8b8bcc;
    text-align: center;
    margin-top: 15px;
}
.publish > form {
    display: flex;
}
form.signup-form {
    font-size: 14px;
    display: block;
}
input {
    height: 55px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
}
button.try {
    color: #fff;
    background-color: #025157;
    text-align: center;
    height: 55px;
    margin-left: -10px;
    border: 1px solid #b6b6b6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explanatory-video img {
    margin-top: 10px;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
figure {
    margin-top: 32px;
}
body {
    margin: 8px;
    background-color: #fffbf7;
    text-align: center;
    display: block;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}